<a href="https://colab.research.google.com/github/nabsabraham/cds-eicu/blob/master/2_LengthOfStay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
auth.authenticate_user()

In [0]:
project_id='eicu-275721'

In [0]:
%%bigquery --project $project_id los
select patienthealthsystemstayid, gender, unitdischargetime24, unitadmittime24, (hospitaldischargeoffset-hospitaladmitoffset)/60/24 AS totalstay
from `physionet-data.eicu_crd.patient`

In [0]:
stay = los['totalstay'].mean()
print(f' Average length of stay in ICU = {stay:.2f} days')

 Average length of stay in ICU = 8.42 days

In [0]:
los.head()

   patienthealthsystemstayid   gender  ... unitadmittime24 totalstay
0                    1561557           ...        23:02:00  0.743056
1                     138099           ...        13:06:00  0.093056
2                     146319           ...        20:01:00  1.040278
3                     140591  Unknown  ...        15:57:00  0.178472
4                     159767           ...        16:50:00  1.002083

[5 rows x 5 columns]

In [0]:
male_los = los[los['gender']=='Male']
female_los = los[los['gender']=='Female']

In [0]:
lst = list(np.round((male_los['totalstay'].values),0))
male_mode_los = max(set(lst), key=lst.count)
print(f'Mode length of stay for females was ~{male_mode_los} days')

2.0

In [0]:
lst = list(np.round((female_los['totalstay'].values),0))
female_mode_los = max(set(lst), key=lst.count)
print(f'Mode length of stay for females was ~{female_mode_los} days')

3.0

In [0]:
%%bigquery --project $project_id df
select patienthealthsystemstayid, apacheadmissiondx as diag, hospitaldischargestatus as status, unitdischargetime24, unitadmittime24, (hospitaldischargeoffset-hospitaladmitoffset)/60/24 AS totalstayindays

from `physionet-data.eicu_crd.patient` 
#WHERE apacheadmissiondx like '%Cardiac%'

In [0]:
cardiac_df = df[df['diag'].str.contains('Cardiac arrest')]
cardiac_df.head()

        patienthealthsystemstayid  ... totalstayindays
193377                    2565533  ...       14.572917
193378                    2562455  ...        0.623611
193379                     392776  ...        4.483333
193380                    1766940  ...       13.696528
193381                    2603720  ...        6.097917

[5 rows x 6 columns]

In [0]:
sepsis_df = df[df['diag'].str.contains('Sep')]
sepsis_df.head()

      patienthealthsystemstayid  ... totalstayindays
2511                    2470411  ...       12.555556
2892                     391296  ...       36.292361
3170                    2592598  ...       12.684028
3331                    1034258  ...       13.784722
3388                     362728  ...        0.996528

[5 rows x 6 columns]

In [0]:

df

        patienthealthsystemstayid  ... totalstayindays
0                         2462651  ...       10.098611
1                         2497834  ...        0.193750
2                          412624  ...        3.318750
3                         2468727  ...        4.712500
4                         2540143  ...       33.602778
...                           ...  ...             ...
200854                     856103  ...        3.347222
200855                     883832  ...        5.850694
200856                     900291  ...        1.020139
200857                    2451831  ...       26.475694
200858                    1661752  ...       10.400694

[200859 rows x 6 columns]